Repository ManageIQ/manageiq.org, pull requests merged in 2020-07, with the labels that each got.

#860 Add sprint 140 stats
  site/_data/sprints/gh_140.yaml
Labels: sprint

#861 fix inactive repos display in sprint details
  site/_layouts/sprint.html
Labels: bug

#862 Add Links to Slides and Recording for Sprint 140
  site/_sprints/140.md
Labels: sprint

#863 Start Sprint 141
  site/_sprints/141.md
Labels: sprint

#864 Update jansa to markdown
  lib/miq.rb
  site/_data/menus/ref_menu_jansa.yml
  site/_data/menus/ref_menu_latest.yml
  test/lib/miq/ref_versions_test.rb
Labels: enhancement

#865 Add support for canonical URLs
  lib/miq/ref_page.rb
  lib/miq/ref_versions.rb
  site/_includes/head.html
  site/_plugins/canonical_url.rb
  test/lib/miq/ref_versions_test.rb
Labels: enhancement

#870 Start Sprint 142
  site/_sprints/142.md
Labels: sprint

#869 Sprint 141 Statistics and Slides
  site/_data/sprints/gh_141.yaml
  site/_sprints/141.md
Labels: sprint

#872 Announcing ManageIQ Jansa Release Candidate
  site/_data/releases.yaml
  site/_posts/2020-07-29-Announcing-Jansa-Release-Candidate.md
Labels: blog

#871 Announcing Ivanchuk-6
  site/_data/releases.yaml
  site/_posts/2020-07-27-Announcing-Ivanchuk-6.md
Labels: blog
