Repository ManageIQ/manageiq.org, pull requests merged in 2020-09, with the labels that each got.

#886 Add Sprint 144 Statistics
  site/_data/sprints/gh_144.yaml
Labels: sprint

#887 Start Sprint 145
  site/_sprints/145.md
Labels: sprint

#888 Add Sprint 144 Recording and Slide Links
  site/_sprints/144.md
Labels: sprint

#889 Add Using the API with OIDC blog post
  site/_posts/2020-09-03-oidc-auth-api-usage.md
Labels: blog, documentation

#891 Start Sprint 146
  site/_sprints/146.md
Labels: sprint

#892 Sprint 145 Statistics
  site/_data/sprints/gh_145.yaml
Labels: sprint

#893 Sprint 145 Artifacts
  site/_sprints/145.md
Labels: sprint

#895 Jansa GA Announcement
  dot-env-example
  site/_data/releases.yaml
  site/_posts/2020-09-22-manageiq-jansa-ga-announcement.md
Labels: blog, enhancement, release

#897 Fix bad links
  site/_posts/2020-09-22-manageiq-jansa-ga-announcement.md
Labels: bug

#899 Sprint 146 Statistics
  site/_data/sprints/gh_146.yaml
Labels: sprint

#900 Start Sprint 147
  site/_sprints/147.md
Labels: sprint

#896 Fix oidc api
  site/_posts/2020-09-03-oidc-auth-api-usage.md
Labels: blog, bug

#901 Remove dead link to 'Minimal Mode' guide
  site/_data/menus/guides_menu.yml
Labels: bug

#902 Sprint 146 Slides and Recording Links
  site/_sprints/146.md
Labels: sprint
