Repository ManageIQ/manageiq.org, pull requests merged in 2020-08, with the labels that each got.

#873 Sprint 142 Statistics
  site/_data/sprints/gh_142.yaml
Labels: sprint

#874 Start Sprint 143
  site/_sprints/143.md
Labels: sprint

#875 Add Sprint 142 Slides and Recording links
  site/_sprints/142.md
Labels: sprint

#876 Add Capabilities Matrix
  site/_data/menus/ref_menu_latest.yml
Labels: documentation, enhancement

#877 Add kramdown-parser-gfm now that Jekyll 3.9.0 requires it
  Gemfile
Labels: bug, dependencies

#880 Announce ivanchuk-7 and jansa-1-rc2
  site/_data/releases.yaml
  site/_posts/2020-08-17-Announcing-Ivanchuk-2-And-Jansa-1-RC2.md
Labels: blog

#881 Add Sprint 143 Statistics
  site/_data/sprints/gh_143.yaml
Labels: sprint

#882 Start Sprint 144
  site/_sprints/144.md
Labels: sprint

#883 Add Sprint 143 Slides and Recording
  site/_sprints/143.md
Labels: sprint

#879 Add --trace option to build CLI
  exe/miq
  lib/miq/site.rb
Labels: developer

#885 Add roadmap
  site/community.md
  site/roadmap.html
Labels: enhancement
