Repository ManageIQ/manageiq.org, pull requests merged in 2021-12, with the labels that each got.

#1038 Sprint 176 Statistics
  site/_data/sprints/gh_176.yaml
Labels: sprint

#1039 Start Sprint 177
  site/_sprints/177.md
Labels: sprint

#1041 Sprint 176 Recording and Slides
  site/_sprints/176.md
Labels: sprint

#1040 Add Blog post and release for morphy-1-beta1
  site/_data/releases.yaml
  site/_posts/2021-12-16-Announcing-Morphy-Beta.md
Labels: blog

#1043 Start Sprint 178
  site/_sprints/178.md
Labels: sprint

#1044 Update Sprint 177 Review Date
  site/_sprints/177.md
Labels: sprint

#1045 Sprint 177 Statistics
  site/_data/sprints/gh_177.yaml
Labels: sprint

#1016 Add blog post about ManageIQ RbVmomi maintenance
  site/_posts/2021-12-21-rbvmomi-maintenance.md
Labels: enhancement, blog
