Repository ManageIQ/manageiq.org, pull requests merged in 2021-02, with the labels that each got.

#941 Start Sprint 155
  site/_sprints/155.md
Labels: sprint

#942 Sprint 154 Statistics
  site/_data/sprints/gh_154.yaml
Labels: sprint

#943 Sprint 154 Recording and Slides
  site/_sprints/154.md
Labels: sprint

#944 Release Kasparov GA
  site/_data/releases.yaml
  site/_posts/2021-02-04-manageiq-kasparov-ga-announcement.md
Labels: blog, enhancement, release

#945 Fix typos
  site/_posts/2021-02-04-manageiq-kasparov-ga-announcement.md
Labels: blog, cleanup

#946 Remove non-canonical URLs from the sitemap
  site/_config.yml
Labels: bug

#947 Sprint 155 Statistics
  site/_data/sprints/gh_155.yaml
Labels: sprint

#948 Start Sprint 156
  site/_sprints/156.md
Labels: sprint

#949 Sprint 155 Recording and Slides
  site/_sprints/155.md
Labels: sprint

#950 Add IBM Cloud download and supported platform
  site/_data/download_types.yaml
  site/_data/platforms.yaml
Labels: enhancement

#951 Add missing image
  site/assets/images/platforms/ibm_cloud.png
Labels: bug

#952 Add ManageIQ at Scale at KPN blog post
  site/_posts/2021-02-25-manageiq-at-scale-at-kpn.md
Labels: blog
