Repository ManageIQ/manageiq.org, pull requests merged in 2021-08, with the labels that each got.

#995 Sprint 167 Statistics
  site/_data/sprints/gh_167.yaml
Labels: sprint

#996 Start Sprint 168
  site/_sprints/168.md
Labels: sprint

#997 Sprint 167 Recording and Slides
  site/_sprints/167.md
Labels: sprint

#998 Start Sprint 169
  site/_sprints/169.md
Labels: sprint

#999 Sprint 168 Statistics
  site/_data/sprints/gh_168.yaml
Labels: sprint

#1000 Add a link to the upgrade documentation
  site/download/index.md
Labels: enhancement

#1002 Update Sprint 167 Slides
  site/_sprints/167.md
Labels: sprint

#1001 Sprint 168 Recording and Slides
  site/_sprints/168.md
Labels: sprint

#1003 Announcing Morphy Approach
  site/_posts/2021-08-23-announcing_morphy_approach.md
Labels: blog, release
