Repository ManageIQ/manageiq.org, pull requests merged in 2021-09, with the labels that each got.

#1008 Start Sprint 170
  site/_sprints/170.md
Labels: sprint

#1009 Sprint 169 Recording and Slides
  site/_sprints/169.md
Labels: sprint

#1011 point releases to html page
  site/download/index.md
Labels: enhancement

#1010 Dark Mode
  site/_assets/css/_appliances.scss
  site/_assets/css/_banner.scss
  site/_assets/css/_blog.scss
  site/_assets/css/_colors.scss
  site/_assets/css/_docs.scss
  site/_assets/css/_features.scss
  site/_assets/css/_footer.scss
  site/_assets/css/_header.scss
  site/_assets/css/_logo.scss
  site/_assets/css/_menu.scss
  site/_assets/css/_page.scss
  site/_assets/css/_partners.scss
  site/_assets/css/_platforms.scss
  site/_assets/css/_post.scss
  site/_assets/css/_search.scss
  site/_assets/css/_solutions.scss
  site/_assets/css/_syntax-highlighting.scss
  site/_assets/css/_triad.scss
  site/_assets/css/_twbs_overrides.scss
  site/_assets/css/_type.scss
  site/_assets/css/main.scss
  site/_assets/css/themes/_dark.scss
  site/_assets/css/themes/_light.scss
  site/community.md
Labels: enhancement

#1013 Start Sprint 171
  site/_sprints/171.md
Labels: sprint

#1014 Sprint 170 Statistics
  site/_data/sprints/gh_170.yaml
Labels: sprint

#1015 [_twbs_overrides.scss] Fix pagination
  site/_assets/css/_twbs_overrides.scss
  site/_assets/css/themes/_dark.scss
  site/_assets/css/themes/_light.scss
Labels: bug, blog

#1017 Sprint 170 Recording and Slides
  site/_sprints/170.md
Labels: sprint

#1020 [_platforms.html] Use inline SVGs
  site/_assets/css/_platforms.scss
  site/_assets/css/themes/_dark.scss
  site/_assets/css/themes/_light.scss
  site/_data/platforms.yaml
  site/_includes/inline_svg/platforms/ansible_tower.svg
  site/_includes/inline_svg/platforms/aws.svg
  site/_includes/inline_svg/platforms/azure.svg
  site/_includes/inline_svg/platforms/foreman.svg
  site/_includes/inline_svg/platforms/gcp.svg
  site/_includes/inline_svg/platforms/hawkular_mark.svg
  site/_includes/inline_svg/platforms/ibm_cloud.svg
  site/_includes/inline_svg/platforms/kubernetes.svg
  site/_includes/inline_svg/platforms/msscvmm.svg
  site/_includes/inline_svg/platforms/openshift.svg
  site/_includes/inline_svg/platforms/openshift_origin.svg
  site/_includes/inline_svg/platforms/openstack.svg
  site/_includes/inline_svg/platforms/ovirt.svg
  site/_includes/inline_svg/platforms/vmware.svg
  site/assets/images/platforms/ansible_tower.svg
  site/assets/images/platforms/aws.svg
  site/assets/images/platforms/ibm_cloud.png
  site/assets/images/platforms/msscvmm.svg
  site/assets/images/platforms/openstack.svg
  site/assets/images/providers/vmw_vcloud.png
  site/index.html
Labels: bug

#1021 Add _labels.scss
  site/_assets/css/_labels.scss
  site/_assets/css/main.scss
Labels: bug

#1022 Sprint 171 Statistics
  site/_data/sprints/gh_171.yaml
Labels: sprint

#1023 Start Sprint 172
  site/_sprints/172.md
Labels: sprint

#1024 Sprint 171 Recording and Slides
  site/_sprints/171.md
Labels: sprint
