Repository ManageIQ/manageiq.org, pull requests merged in 2021-05, with the labels that each got.

#975 Sprint 161 Statistics
  site/_data/sprints/gh_161.yaml
Labels: sprint

#977 Sprint 161 Recording and Slides
  site/_sprints/161.md
Labels: sprint

#976 Blog Post - ManageIQ performance results and improvements
  site/_posts/2021-05-11-manageiq-perf-results.md
  site/assets/images/blog/PodSteadyStateCPU.PNG
  site/assets/images/blog/TotalSteadyStateCPU.PNG
Labels: blog, documentation

#978 Fix rendering errors in blog post
  site/_posts/2021-05-11-manageiq-perf-results.md
  site/assets/images/blog/PodSteadyStateCPU.png
  site/assets/images/blog/TotalSteadyStateCPU.png
Labels: blog, bug

#979 Start Sprint 163
  site/_sprints/163.md
Labels: sprint

#980 Sprint 162 Statistics
  site/_data/sprints/gh_162.yaml
Labels: sprint

#981 Sprint 162 Recording and Slides
  site/_sprints/162.md
Labels: sprint
