Repository ManageIQ/manageiq.org, pull requests merged in 2021-04, with the labels that each got.

#961 Start Sprint 159
  site/_sprints/159.md
Labels: sprint

#962 Sprint 158 Statistics
  site/_data/sprints/gh_158.yaml
Labels: sprint

#963 Sprint 158 Recording and Slides
  site/_sprints/158.md
Labels: sprint

#964 Change Sprint Review from BlueJeans to Google Meet
  site/community.md
Labels: content, sprint

#966 Sprint 159 Statistics
  site/_data/sprints/gh_159.yaml
Labels: sprint

#967 Start Sprint 160
  site/_sprints/160.md
Labels: sprint

#968 Sprint 159 Recording and Slides
  site/_sprints/159.md
Labels: sprint

#970 Announcing Lasker Beta
  site/_data/releases.yaml
  site/_posts/2021-04-26-Announcing-Lasker-Beta.md
Labels: blog, enhancement

#971 Sprint 160 Statistics
  site/_data/sprints/gh_160.yaml
Labels: sprint

#972 Start Sprint 161
  site/_sprints/161.md
Labels: sprint

#973 Sprint 160 Recording and Slides
  site/_sprints/160.md
Labels: sprint
