Repository ManageIQ/manageiq.org, pull requests merged in 2022-04, with the labels that each got.

#1083 Start Sprint 185
  site/_sprints/185.md
Labels: sprint

#1084 Sprint 184 Statistics
  site/_data/sprints/gh_184.yaml
Labels: sprint

#1079 Ignore test and dev gems during build
  .github/workflows/ci.yaml
Labels: dependencies, performance

#1085 Sprint 184 Recording and Slides
  site/_sprints/184.md
Labels: sprint

#1086 Sprint 185 Statistics
  site/_data/sprints/gh_185.yaml
Labels: sprint

#1088 Sprint 185 Recording and Slides
  site/_sprints/185.md
Labels: sprint

#1090 Fix issue when prerelease doesn't exist
  site/docs/get-started/kubernetes.md
Labels: bug

#1087 Start Sprint 186
  site/_sprints/186.md
Labels: sprint
