Repository ManageIQ/manageiq.org, pull requests merged in 2024-09, with the labels that each got.

#1187 Sprints 240-245
  site/_data/sprints/gh_240.yaml
  site/_data/sprints/gh_241.yaml
  site/_data/sprints/gh_242.yaml
  site/_data/sprints/gh_243.yaml
  site/_data/sprints/gh_244.yaml
  site/_data/sprints/gh_245.yaml
  site/_sprints/240.md
  site/_sprints/241.md
  site/_sprints/242.md
  site/_sprints/243.md
  site/_sprints/244.md
  site/_sprints/245.md
  site/_sprints/246.md
Labels: sprint

#1188 Add workflow_dispatch event
  .github/workflows/ci.yaml
Labels: enhancement

#1189 Updated user reference page
  site/docs/reference/index.md
Labels: bug

#1190 Sprint 246
  site/_data/sprints/gh_246.yaml
  site/_sprints/246.md
  site/_sprints/247.md
Labels: sprint
